/*-- COLOR VARIABLES --*/
:root {
  --mainDark: #218a48;
  --mainMed: #2eb157;
  --mainLight: #98ff98;
  --backDark: #222222;
  --backMed: #333333;
  --textLight: #ffffff;
  --textMed: #dddddd;
  --textDark: #aaaaaa;
}

.App {
  background-color: var(--backDark);
  padding-bottom: 0px;
  font-family: "Montserrat", sans-serif;
  background-image: url("./images/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 1920px 1200px;
  min-height: 1080px;
}

h1 {
  color: var(--textLight);
  font-weight: 800;
  font-style: italic;
  font-size: 35px;
}

h2 {
  color: var(--textLight);
  font-weight: 800;
  margin-top: 10px;
  font-size: 30px;
}

h3 {
  color: var(--textMed);
  font-size: 25px;
}

p {
  color: var(--textMed);
  font-size: 20px;
}

a {
  text-decoration: none;
  color: black;
}

/*-- LOADING --*/
.LoadingWrapper {
  min-height: 1080px;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding-top: 250px;
}

.Loading {
  width: 250px;
  padding-bottom: 400px;
}

/*-- HEADER --*/

FontAwesomeIcon {
  color: var(--textMed);
}

.Accent {
  color: var(--mainMed);
}

.HeaderContainer {
  backdrop-filter: blur(15px) brightness(90%) contrast(70%);
  /* background-color: var(--backMed); */
  z-index: 100;
  position: fixed;
  width: 1920px;
  max-width: 100%;
  height: 80px;
  box-shadow: 2px 0px 10px 2px #000000;
  margin-bottom: 20px;
}

header {
  padding: 6px 20px 0 20px;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
}

header h1 {
  font-size: 35px;
  padding-top: 10px;
  margin: 0 auto;
  flex-basis: 50%;
}

header nav {
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  flex-basis: 50%;
}

header nav a {
  font-size: 35px;
  display: block;
  margin: 10px;
}

.NavButton {
  color: var(--textDark);
  transition: all 0.3s ease-in-out;
}

.NavButton:hover {
  color: var(--mainMed);
  transform: scale(1.1);
}

.Content {
  z-index: -100;
  padding-top: 100px;
}

/*-- HOME --*/

.Home {
  max-width: 1000px;
  min-height: 900px;
  padding: 0 20px 0 20px;
  margin: 0 auto;
}

.FixedTitle {
  position: fixed;
  top: 100px;
}

.HomeContainer .LoadingWrapper {
  padding-top: 200px;
}

.TrailParameters {
  font-size: 30px;
  line-height: 2;
  color: var(--textLight);
  margin: 20px 0 30px 0;
  padding: 0;
}

.ErrorText {
  color: grey;
  font-size: 30px;
  font-style: italic;
  margin: 20px 0 30px 0;
  padding: 0;
}

select {
  transition: all 0.2s ease-in-out;
  border: none;
  color: var(--textLight);
  font-family: Montserrat;
  background-color: var(--backMed);
  border-radius: 10px;
  font-size: 25px;
  padding: 5px 5px 7px 5px;
}

select:hover {
  transform: scale(1.05);
}

.Post {
  background-color: var(--backMed);
  box-shadow: 2px 0px 10px 2px #000000;
  max-width: 1000px;
  height: 400px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
}

.Post .Column1 {
  padding: 0;
  flex-basis: 60%;
}

.Map-Container {
  background-color: grey;
  border-radius: 5px;
  height: 400px;
  max-width: 1080px;
  -webkit-transform: translate3d(0px, 0px, 0px);
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.Post .Column2 {
  padding-top: 0px;
  padding-left: 20px;
  flex-basis: 40%;
}

.Post .Column2 h2 {
  margin: 0;
}

.Stat {
  display: flex;
  flex-direction: row;
  margin: 10px 30px 10px 0;
}

.Stat * {
  padding-right: 10px;
  margin: 0;
}

.Stat .Icon {
  font-size: 25px;
  color: var(--textLight);
}

.Stat .IconGreen {
  font-size: 25px;
  color: var(--mainMed);
}

/*--- User Profile ---*/

.Spacer {
  height: 20px;
}

.UserProfile {
  min-height: 900px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px 0 20px;
}

.StatBar {
  display: flex;
  flex-direction: row;
  margin: 20px 0 20px 0;
}

button {
  background-color: var(--mainMed);
  font-family: Montserrat;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  font-size: 30px;
  border-radius: 30px;
}

button:hover {
  background-color: #888888;
}

/*--- Select Activity ---*/

.SelectActivity {
  max-width: 1000px;
  min-height: 900px;
  margin: 0 auto;
  padding: 0 20px 0 20px;
}

.StravaActivity {
  box-shadow: 1px 1px 5px 1px #111111;
  background-color: var(--backMed);
  max-width: 1000px;
  /* height: 40px; */
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  transition: all 0.2s ease-in-out;
}

.StravaActivity * {
  color: var(--textMed);
}

.StravaActivity:hover {
  transform: scale(1.02);
  background-color: var(--mainDark);
}

.StravaActivityButton {
  margin: 0;
  padding: 0;
  color: black;
  text-decoration: none;
}

.StravaActivity .Column1 {
  flex-basis: 50%;
}

.StravaActivity .Column1 * {
  margin: 0;
}

.StravaActivity .Column2 {
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-basis: 50%;
}

.StravaActivity .Column2 * {
  margin-top: 0;
  margin-bottom: 0;
}

.StravaActivity .Column2 .StatBar div {
  margin-left: 20px;
  margin-right: 0;
}

/*--- Compose Post ---*/

.ComposePost {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px 20px;
  margin-bottom: 300px;
}

form {
  display: flex;
  flex-direction: column;
}

form input {
  transition: all 0.2s ease-in-out;
  font-family: Montserrat;
  color: var(--textLight);
  background-color: var(--backMed);
  border: 1px solid black;
  border-radius: 15px;
  font-size: 25px;
  margin-bottom: 20px;
  padding: 20px;
}

form input:hover {
  transform: scale(1.05);
}

form textarea {
  font-family: Montserrat;
  color: var(--textLight);
  background-color: var(--backMed);
  resize: none;
  height: 150px;
  line-height: 1.5;
  border: 1px solid black;
  border-radius: 15px;
  font-size: 25px;
  margin-bottom: 20px;
  padding: 20px;
}

form button {
  text-align: center;
  width: 250px;
  transition: all 0.2s ease-in-out;
}

form button:hover {
  background-color: var(--mainLight);
  transform: scale(1.05);
}

/*--- LOGIN ---*/

.Login {
  background-image: url("./images/trees.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 1920px 1200px;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  height: 1080px;
  width: 100%;
  margin: -100px 0 0 0;
}

.LoginWrapper {
  backdrop-filter: blur(10px) brightness(90%) contrast(70%);
  width: 500px;
  height: 500px;
  border-radius: 15px;
  box-shadow: 3px 3px 10px 2px #222222;
  /* background-color: var(--backMed); */
  max-width: 1000px;
  margin: 150px 20px 0 20px;
  padding: 0 20px 0 20px;
}

.LoginWrapper h2 {
  padding-top: 5px;
  text-align: center;
}

.LightInput {
  color: var(--backDark);
  background-color: var(--textMed);
  width: 400px;
  margin: 0 30px 30px 30px;
  border-radius: 15px;
}

.CenterWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.RegularLink {
  color: var(--textLight);
  font-size: 20px;
  text-align: center;
  font-style: italic;
}

.PseudoButton {
  background-color: #c2c2c2;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  font-size: 30px;
  border-radius: 30px;
  color: black;
}

/*--- Create Account ---*/
.CreateAccount {
  background-image: url("./images/trees.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 1920px 1200px;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  height: 1080px;
  width: 100%;
  margin: -100px 0 0 0;
}

.CreateAccountWrapper {
  backdrop-filter: blur(10px) brightness(90%) contrast(70%);
  width: 500px;
  height: 600px;
  border-radius: 15px;
  box-shadow: 3px 3px 10px 2px #222222;
  /* background-color: var(--backMed); */
  max-width: 1000px;
  margin: 150px 20px 0 20px;
  padding: 0 20px 0 20px;
}

.CreateAccountWrapper h2 {
  text-align: center;
  font-weight: 400;
  padding-top: 5px;
}

/*--- FOOTER ---*/

Footer {
  position: relative;
  bottom: 0;
  margin-top: 50px;
  background-color: var(--backMed);
  border: 1px solid var(--backMed);
  box-shadow: 0px 1px 10px 2px #000000;
  color: var(--textMed);
}

.Footer-Contents {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 0px;
  max-width: 1000px;
  padding: 0 20px;
}

/*--- MOBILE BREAKPOINTS ---*/
@media screen and (max-width: 400px) {
  .HeaderContainer {
    height: 70px;
  }
  header h1 {
    font-size: 30px;
  }
  header nav a {
    font-size: 27px;
  }
  .Content {
    padding-top: 60px;
  }
  .TrailParameters {
    font-size: 20px;
    margin-top: 30px;
  }
  select {
    font-size: 20px;
    padding: 3px 0px 4px 3px;
  }
  h2 {
    font-size: 25px;
  }
  .Post {
    flex-direction: column;
    padding: 15px;
    min-height: 400px;
    max-height: 600px;
    height: auto;
  }
  .Map-Container {
    height: 250px;
  }
  .Post .Column2 {
    margin-top: 10px;
    padding-left: 0;
    margin-bottom: -10px;
  }
  .Post .Column2 h2,
  .Post .Column2 h3 {
    margin: 15px 0 0 0;
  }

  .Footer-Contents {
    flex-direction: row-reverse;
  }
  .Footer-Contents p {
    font-size: 15px;
  }
  .Footer-Contents p:nth-of-type(1) {
    display: none;
  }
  .SelectActivity {
    margin-top: 30px;
  }
  .StravaActivity {
    min-height: 65px;
    height: auto;
    flex-direction: column;
  }
  .StravaActivity .Column2 * {
    font-size: 15px;
  }
  .StravaActivity .Column2 .StatBar div {
    margin-right: 20px;
    margin-left: 0;
  }
  .StravaActivity .Column2 {
    margin-top: 10px;
  }
  .StatBar {
    width: 100%;
  }
  .StravaActivity .StatBar .Stat:nth-of-type(3) p {
    width: 60px;
  }
  .UserProfile {
    margin-top: 20px;
  }
  .UserProfile .StatBar .Stat {
    margin: 0 auto;
  }
  .UserProfile .StatBar * {
    font-size: 20px;
  }
  button {
    font-size: 20px;
  }
  .CreateAccountWrapper,
  .LoginWrapper {
    width: 90%;
    margin: 0;
    padding: 0;
    margin-top: 200px;
    height: auto;
  }
  .CreateAccountWrapper h2,
  .LoginWrapper h2 {
    font-size: 20px;
  }
  .LightInput {
    font-size: 20px;
    padding: 10px;
    margin: 0 20px 20px 20px;
    width: auto;
  }
  form button {
    width: auto;
  }
  .RegularLink {
    width: 80%;
    font-size: 20px;
    margin-bottom: 30px;
  }
}
