.App {
}

h1 {
  font-size: 35px;
}

h2 {
  margin-top: 10px;
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

p {
  font-size: 20px;
}

/*-- HEADER --*/

.HeaderContainer {
  backdrop-filter: blur(15px);
  z-index: 100;
  position: fixed;
  width: 1920px;
  max-width: 100%;
  height: 80px;
  box-shadow: 2px 0px 10px 2px #888888;
  margin-bottom: 20px;
}

header {
  padding: 6px 20px 0 20px;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
}

header h1 {
  font-size: 35px;
  padding-top: 10px;
  margin: 0 auto;
  flex-basis: 50%;
}

header nav {
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  flex-basis: 50%;
}

header nav a {
  font-size: 35px;
  color: black;
  display: block;
  margin: 10px;
}

.Content {
  z-index: -100;
  padding-top: 100px;
}

/*-- HOME --*/

.Home {
  max-width: 1000px;
  padding: 0 20px 0 20px;
  margin: 0 auto;
}

.Post {
  max-width: 1000px;
  height: 400px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
}

.Post .Column1 {
  padding: 0;
  flex-basis: 60%;
}

.Map-Container {
  background-color: grey;
  border-radius: 5px;
  height: 400px;
  max-width: 1080px;
  -webkit-transform: translate3d(0px, 0px, 0px);
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.Post .Column2 {
  padding-top: 0px;
  padding-left: 20px;
  flex-basis: 40%;
}

.Post .Column2 h2 {
  margin: 0;
}

.Stat {
  display: flex;
  flex-direction: row;
  margin: 10px 30px 10px 0;
}

.Stat * {
  padding-right: 10px;
  margin: 0;
}

.Stat .Icon {
  font-size: 25px;
}

/*--- User Profile ---*/

.UserProfile {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px 0 20px;
}

.StatBar {
  display: flex;
  flex-direction: row;
  margin: 20px 0 20px 0;
}

button {
  background-color: #c2c2c2;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  font-size: 30px;
  border-radius: 30px;
}

button:hover {
  background-color: #888888;
}

/*--- Select Activity ---*/

.SelectActivity {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px 0 20px;
}

.StravaActivity {
  max-width: 1000px;
  /* height: 40px; */
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
}

.StravaActivity:hover {
  background-color: #c2c2c2;
}

.StravaActivityButton {
  margin: 0;
  padding: 0;
  color: black;
  text-decoration: none;
}

.StravaActivity .Column1 {
  flex-basis: 50%;
}

.StravaActivity .Column1 * {
  margin: 0;
}

.StravaActivity .Column2 {
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-basis: 50%;
}

.StravaActivity .Column2 * {
  margin-top: 0;
  margin-bottom: 0;
}

.StravaActivity .Column2 .StatBar div {
  margin-left: 20px;
  margin-right: 0;
}

/*--- Compose Post ---*/

.ComposePost {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px 0 20px;
}

form {
  display: flex;
  flex-direction: column;
}

form input {
  border: 1px solid black;
  border-radius: 20px;
  font-size: 25px;
  margin-bottom: 20px;
  padding: 20px;
}

form textarea {
  resize: none;
  height: 150px;
  line-height: 1.5;
  border: 1px solid black;
  border-radius: 20px;
  font-size: 25px;
  margin-bottom: 20px;
  padding: 20px;
  font-family: BlinkMacSystemFont;
}

form button {
  text-align: center;
  width: 250px;
}

/*--- Login ---*/

.Login {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px 0 20px;
}

/*--- Create Account ---*/
.CreateAccount {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px 0 20px;
}
